<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>URL Shortner</h1>
    <div>
        <form method="POST" action="/url">
            <label for="Enter Your Original URL">Enter Your Original URL</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button>Generate</button>
        </form>
    </div>
</body>
</html>